<style>
.button {
  background-color: #4CAF50 !important; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>


<p>The future michel depends on what you do today. - Mahatma Gandhi</p>
<p>Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.</p>

<button id='teste' onclick="myFunction()">Teste</button>

<p>Ter uma assinatura <strong><span style="color: #2f80ed;">Livre </span></strong>é viver despreocupado com documentação, IPVA, licenciamento, DPVAT, emplacamento, proteção e manutenções preventivas sem perder na qualidade do carro.</p><p><strong>Vem logo ser <span style="color: #2f80ed;">Livre</span>!</strong></p>
